/* เพิ่มสไตล์ CSS ตามต้องการ */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="radio"] {
    width: 30px; /* ปรับขนาดของ radio button */
    height: 30px; /* ปรับขนาดของ radio button */
    color: pink;
  }
